.dev_env
.vscode
*.yaml
*.csv
*.pyc
*.ipynb
*.out
*.jpg
*.json
*.png
*.gif
*.pdf
*.txt
*.stderr
*.stdout
*.tex

logs/*
!config/thesis_config/*.yaml
!config/Nam_exp_01082026/*.yaml
config/Nam_exp_01082026/*.md
command/*
.ipynb_checkpoints
__pycache__
results*
runs*
data
mlruns/*
command/*

# YOLO training artifacts and data folders
data*/
data_*/
nnUNet/
*.pt

