.dev_env
.vscode
*.yaml
*.csv
*.pyc
*.out
*.jpg
*.json
*.png
*.gif
*.pdf
*.txt
*.stderr
*.stdout

!config/thesis_config/*.yaml
!config/Nam_exp/*.yaml

.ipynb_checkpoints
__pycache__
results*
runs*
data
mlruns/*
